<section data-ng-controller="HomeController">
	<img alt="LCDM" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
	<div class="jumbotron">
		<div class="row">
		    <h1>LCDM-Crowdsource</h1>
		    <p>Setup Arbitrary Crowdsource Experiment to Generate Gold Standard Data for your Project.</p>
		    <p>
		      <a ui-route="/signin" ng-class="{active: $uiRoute}" class="btn btn-primary btn-large" id="Sign-in-view" href="/#!/signin">Sign in</a>
		      <a ui-route="/signup" ng-class="{active: $uiRoute}" class="btn btn-primary btn-large" id="Sign-up-view" href="/#!/signup">Sign up</a>
    		</p>
	</div>

	</div>
    <div id="basic_stats" style="position: absolute; top: 30px; right:30px;"></div>
    </div>
    <div class="span8">
      <h4>Project Synopsis</h4>
      <p>
      	Traditional crowdsourcing, like the <a href="https://www.zooniverse.org/">ZooUniverse</a> project, typically focus 	on the identification and classification of a single type of object. For example, the <a href="http://www.galaxyzoo.org/">GalaxyZoo</a> project has a user classify the single object contained within an image.</p>
	  <p>
	  	Many classification problems are not amenable to this approach. For example, anomaly detection in images can have zero or more anomalies. Thus a user viewing these images might find zero or many objects of interest. This not only complicates the challenge of quantifying the reliability of a classification, but also the ability of the classifier to find <strong>all</strong> anomalies.
	  </p>

      <p>
      	In Addition, Most of the projects for corwdsourcing are simlar, the only change which occur is the type of problem. As a <a href="https://www.google-melange.com/gsoc/homepage/google/gsoc2014"><b>Google Summer of Code 2014</b></a>, we aim to create Crowdsourcing Application which can give us a platform where any arbitrary experiment can be setup and used for generating gold standard data.
      </p>
      <h4>How to Add the Experiment?</h4>
      <p>
      	<ul>
      		<li>Go to Add Experiment View</li>
      		<li>Enter the Required Experiment Details</li>
      		<li>Move the Experiment Data at the Required Location</li>
      	</ul>
      </p>
      <h4>How Crowd can Contribute?</h4>
      <p>
      	<ul>
      		<li>Once the Experiment is setup, any user can view it.</li>
      		<li>The required problems will be used to annotate the data (images or audios)</li>
      	</ul>
      </p>
      <h4>Where you can find the development notes?</h4>
      <p>
      	<ul>
      		<li>Follow <a href="http://crowdsource-lcdm.blogspot.in/">Crowdsource-lcdm.blogspot.in</a></li>
      	</ul>
      </p>
  </div>

</section>